.heading {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 50px;
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
}

.banner {
  background-image: url("../../profileBanner.jpg");
  background-repeat: no-repeat;
 min-height: 50vh;
 width: 100%;
  object-fit: cover;
  position: relative;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
}

.avatarContainer {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.avatar {
  text-align: center;
  border-radius: 20px;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
  max-width: 200px;
}

.editIcon {
  cursor: pointer;
  font-size: 2rem;
 margin-left: 10px;
}


.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.username {
  text-align: center;
  font-size: 1.2rem;
}

.createContainer {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.596);
  width: 500px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
}

.createBtn {
  border: none;
  color: white;
  background-color: #1d67d6;
  padding: 10px 35px 10px 35px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 1.1rem;
}

.bookings {
  text-align: center;
  margin-bottom: 100px;
}

.bookings li {
  list-style-type: none;
}

h4 {
  margin-top: 10px;
}



.bookingsH2,
.venuesHeader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.venuesContainer {
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.deleteBtn {
  background-color: red;
  margin-left: 5px;
}

.bookingsContainer {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

.bookingsImg {
  width: 100%;
  position: relative;
  height: 300px;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.bookingsDate {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #9b1212;
}

.bookingsCard {
  margin-bottom: 50px;
  border: none;
}

.bannerBtn {
  color: white;
  background-color: #1d67d6;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid {
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #2c2b2b;
}

th {
  background-color: #9a9999;
}

.modalWide {
  width: 1000px;
  max-width: none;
}

@media (max-width: 1000px) {
  .modalWide{
    width: 90%;
  }
}

label {
  margin-top: 20px;
}

.description {
  height: 200px;
}

.price {
  width: 200px;
}

.dates {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}