h1 {
  text-align: center;
}

.avatarContainer {
  margin: 0 auto;
  text-align: center;
}

.avatar {
  text-align: center;
}

.username {
  text-align: center;
  font-size: 1.2rem;
}

.createContainer {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.596);
  width: 500px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: -7px 18px 36px -6px rgba(0, 0, 0, 0.75);
}

.createBtn {
  border: none;
  color: white;
  background-color: #1d67d6;
  padding: 10px 35px 10px 35px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 1.1rem;
}

.modal {
  min-width: 60%;
}
