html {
  font-family: 'Maven Pro', sans-serif;
}

body {
  margin: 0;
}


header {
  height: 70px;
  background-color: #747272;
  display: flex;
  padding: 20px 36px;
  box-shadow: -1px 15px 32px 3px rgba(0,0,0,0.73);
  justify-content: space-between;
}

h3 {
  color: #9B1212;
}

nav {
  display: flex;
  margin: 0;
  align-items: center;

}

.navbar li a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.navbar li a:hover {
  color: #9B1212;
}

footer {
  background-color: #747272;
  height: 100px;
  text-align: center;
  margin-top: 100px;
}

.footerText {
  color: #9B1212;
  font-size: 1.2rem;
}

.loginBtn{
  border: none;
  background-color: #747272;
  color: white;
}